/* ************************************************

	Override Default Preset
	https://vuepress.vuejs.org/config/#palette-styl

************************************************ */

// You can override default preset from the following (using stylus or css)
$accentColor = #FF91D0
$textColor = #606266
$borderColor = #e5e5e5
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #F5DAE3
$badgeErrorColor = #DA5961