// 主色调
$themeColor: #ff91d0;
$FFF: #fff;

// 提示颜色
$success: #67c23a;   // 成功
$error: #f56c6c;     // 失败
$warning: #e6a23c;   // 警告
$info: #909399;      // 默认

$borderColor: #e5e5e5; // 边框颜色

$disabledColor: #f5f7fa; // 禁用颜色

// 背景色
$backgroundColor: #e4e7ed;
$backgroundLightColor: #f0f2f5;

// 字体颜色
$fontMainColor: #303133;          // 主体字体颜色
$fontSubColor: #606266;           // 主体次级颜色
$fontTipColor: #909399;           // 主体辅助性颜色
$fontTipLigihtColor: #c0c4cc;    // 主体辅助性次级颜色

// 大小
$smallHeight: 30px;
$normalHeight: 36px;
$largeHeight: 40px;

// 字体大小
$smallFontSize: 12px;
$normalFontSize: 14px;
$bigFontSize: 16px;
$largeFontSize: 18px;
